html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
	margin: 0;
	padding: 0;
	border: 0;

	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  outline: none;
}

body {
  font-family: sans-serif;
}

h2 {
  font: bold 32px sans-serif;
  color: #333;
  text-align: center;
  align-self: center;
  padding: 20px 0;
}

h3 {
  color: #eee;
  font-size: 28px;
  margin-bottom: 50px;
}

.jumbotron {
  background-image: url(http://openwalls.com/image/2645/beautiful_earth_1920x1080.jpg);
  background-repeat: no-repeat;

  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: row;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  color: #eee;
  margin: 3px 0;
}

#input1 {
  border-right: 1px solid #ccc;
}

input {
  font-size: 16px;
  width: 400px;
  height: 50px;
  padding: 5px 15px;
}

#submit {
  padding: 10px 20px;
  height: 60px;
  align-self: flex-end;
  background-color: #2ab27b;

  color: #eee;
  font-size: 16px;
  font-weight: bold;

}

#map {
  height: 500px;
  width: 700px;
}
